#define IDD_DLG1 1000
#define IDC_GRP1 1001
#define IDC_BTN1 1002
#define IDC_BTN2 1003
#define IDC_BTN3 1004
#define IDC_BTN4 1005

#include <resource.h>

IDD_DLG1 DIALOGEX 10,10,114,78
CAPTION "扫雷辅助"
FONT 10,"微软雅黑",400,0,0
STYLE WS_VISIBLE|WS_CAPTION|WS_SYSMENU|WS_THICKFRAME|WS_MINIMIZEBOX
BEGIN
  CONTROL "难度",IDC_GRP1,"Button",WS_CHILDWINDOW|WS_VISIBLE|BS_GROUPBOX,9,6,51,69
  CONTROL "初级",IDC_BTN1,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,18,18,33,12
  CONTROL "中级",IDC_BTN2,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,18,36,33,12
  CONTROL "高级",IDC_BTN3,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,18,54,33,12
  CONTROL "自动扫雷",IDC_BTN4,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,69,18,36,12
END

